$clr-white: #fff;
$clr-pink: #f28ab2;
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

$max-width: 1920px;
$fixed-width: 450px;
$radius: 0.25rem;
$transition: all 0.3s linear;
$spacing: 0.1rem;

.birthday-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.birthday-container {
    width: 90vw;
    max-width: $fixed-width;
    margin: 5rem 0;
    padding: 1.5rem 2rem;
    border-radius: $radius;
    box-shadow: $dark-shadow;
    color: #000000;
    background: $clr-white;

    h3 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        text-transform: none;
    }

    button {
        display: block;
        width: 100%;
        padding: 0.5rem 0;
        margin: 2rem auto 0 auto;
        outline: 1px solid rgba(242, 138, 178, 0.8);
        border-radius: $radius;
        border-color: transparent;
        font-size: 1.2rem;
        color: $clr-white;
        letter-spacing: $spacing;
        text-transform: capitalize;
        background: $clr-pink;
        cursor: pointer;
    }

    .person {
        border: 1px solid lightblue;
        display: grid;
        // Два столбца: ширина первого(auto) подстраивается под ширину второй(1fr)
        grid-template-columns: auto 2fr 1fr;
        // Расстояние моежду соседними столбцами.
        column-gap: 0.7rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        align-items: center;

        h4 {
            margin-bottom: 0.35rem;
        }

        p {
            margin-bottom: 0;
        }

        img {
            width: 75px;
            height: 75px;
            /* 
            Размер заменяемого содержимого сохраняет соотношение сторон и заполняет все поле содержимого элемента.
            */
            object-fit: cover;
            border-radius: 50%;
            box-shadow: $light-shadow;
        }

        button {
            display: block;
            padding: 0.5rem 0;
            margin: 0 auto;
            outline: 1px solid rgba(242, 138, 178, 0.8);
            border-radius: $radius;
            border-color: transparent;
            text-align: center;
            font-size: 1.2rem;
            color: $clr-white;
            letter-spacing: $spacing;
            text-transform: capitalize;
            background: $clr-pink;
            cursor: pointer;
        }
    }
}
