@use "../custom" as *;
@use "./mixins" as *;
// Главный компонент приложения.
.app {
    margin: 2rem;
    text-align: center;
    h1 {
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    nav {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        background-color: khaki;
        a {
            margin-right: 1.5rem;
            color: #000000;
            text-decoration: none;
        }
    }

    .courseLink {
        font-size: 2rem;
        color: lightyellow;
        text-decoration: none;
        text-size-adjust: 10px;
        word-spacing: 2px;
        &:hover {
            text-decoration: underline;
        }
    }
}
