@use '../custom' as *;
@use './mixins' as *;

$clr-white: #ffffff;
$clr-primary-1: hsl(248, 58%, 63%);
$clr-primary-5: hsl(205, 78%, 60%);

$radius: 0.25rem;
$spacing: 0.1rem;
$transition: all 0.3s linear;

// Шаблонные свойства контейнера с кнопками.
.buttons-std {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
// Шаблонные свойства кнопок в контейнерах.
.button-std {
  display: inline-block;
  margin: 1rem 0.75rem 1rem 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: $radius;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: $spacing;
  color: $clr-white;
  cursor: pointer;
  background: $clr-primary-5;
  transition: transition;

  &:hover {
    color: $clr-white;
    background: $clr-primary-1;
  }
}
