// Шаблонные свойства форм и ее составляющих.
.form {
    // Элементы внутри form буду располгаться в виде флекс элементов.
    display: flex;
    // Нижние внешние отступы элементов.
    margin-bottom: 1.5rem;
    // Выравнивание главной оси(X-по умолчанию) по центру.
    /* 
    Выравнивание flex элементов по главной оси текущей линии flex контейнера.
    Главная и гпоперечная оси меняются приоритетами в зависипости от выбранной оси X или Y.
    */
    justify-content: center;
    // Выравнивание поперечной оси(Y-по умолчанию) по центру.
    /* 
    Выравнивание flex элементов вдоль поперечной оси текущей линии flex контейнера.
    Поперечная и главная оси меняются приоритетами в зависипости от выбранной оси X или Y.
    */
    align-items: center;
    // Поле ввода данных фломы.
    .input {
        // Ширина поля ввода от родительского элемента в процентах.
        width: 25%;
        // Высота поля ввода.
        height: 2rem;
    }
    // Кнопки отправки данных формы.
    .button {
        // Ширина кнопки отправки формы.
        width: 4rem;
        // Высота кнопки отправки формы.
        height: 2.2rem;
        // Внешний отступ слева от соседних элементов кнопки.
        margin-left: 20px;
        // Закругление углов кнопки.
        border-radius: 5px;
        // Размер текста внтури кнопки.
        font-size: 1rem;

        &:hover {
            cursor: pointer;
            // Цвет фона кнопки.
            background-color: beige;
        }
    }
}
