$clr-white: #ffffff;
$clr-grey-10: hsl(210, 36%, 96%);

$fixed-width: 450px;
$radius: 0.25rem;

.form {
  background: clr-white;
  max-width: fixed-width;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: radius;
}

.form input {
  background: clr-grey-10;
  border-color: transparent;
  border-radius: radius;
  padding: 0.25rem 0.5rem;
}
