/* Переменные с корневым доступом */
:root {
  /* Серые цвета используются для параграфов */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  /* Свойства изменения элементов. */
  --max-width: 1920px;
  --fixed-width: 450px;
  --radius: 0.25rem;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Crimson Text", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #112d49;
}

/* ======[Заголовки]====== */
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ======[Секция, Контейнер]====== */
.section,
.container {
  width: 40vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.container {
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
}